<!-- Форма добавления комментария -->
{% load user_filters %}

{% if user.is_authenticated %} 
<div class="card my-4">
<form
        action="{% url 'add_comment' post.author.username post.id %}"
        method="post">
        {% csrf_token %}
        <h5 class="card-header">Добавить комментарий:</h5>
        <div class="card-body">
        <form>
                <div class="form-group">
                {{ form.text|addclass:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        </div>
</form>
</div>
{% endif %}

<!-- Комментарии -->
{% if items %}

{% for item in items %}
<div class="media mb-4">
<div class="media-body">
        <h5 class="mt-0">
        <a
                href="{% url 'profile' item.author %}"
                name="comment_{{ item.id }}"
                >{{ item.author }}</a>
        </h5>   
        <h6 class="mt-0">{{ item.pub_date }}</h6>
        {{ item.text }}
</div>
</div>
{% endfor %}

{% endif %}