<div class="card mb-3 mt-1 shadow-sm">

    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}" />
    {% endthumbnail %}
    <!-- Отображение текста поста -->
    <div class="card-body">
            <p class="card-text">
                    <!-- Ссылка на автора через @ -->
                    <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
                            <strong class="d-block text-gray-dark">Автор: @{{ post.author }}</strong>
                    </a>
                    <p>{{ post.text|linebreaksbr }}</p>
            </p>

            <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
            {% if post.group %}
            <a class="card-link muted" href="{% url 'group_posts' post.group.slug %}">
                    <strong class="d-block text-gray-dark">Группа: #{{ post.group.title }}</strong>
            </a>
            {% endif %}

            <!-- Отображение ссылки на комментарии -->
            <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group ">
                            <!-- Условие, что незалогиненный пользователь при нажатии
                        "добавить комментарий" редиректится на страницу логина -->
                        {% if not user.is_authenticated %}
                            {% if not post.comment_count %}
                                <a class="btn btn-sm text-muted" href="{% url 'add_comment' post.author.username post.id %}" role="button">
                                    Добавить комментарий
                                </a>
                            {% else %}
                                <a class="btn btn-sm text-muted" href="{% url 'post' post.author.username post.id %}" role="button">
                                    Комментариев: {{ post.comment_count }}
                                </a>
                            {% endif %}
                        {% elif user.is_authenticated %}
                            <a class="btn btn-sm text-muted" href="{% url 'post' post.author.username post.id %}" role="button">
                                {% if post.comment_count %}
                                Комментариев: {{ post.comment_count }} 
                                {% else%}
                                Добавить комментарий
                                {% endif %}
                            </a>
                        {% endif %}

                            <!-- Ссылка на редактирование поста для автора -->
                            {% if user == post.author %}
                            <a class="btn btn-sm text-muted" href="{% url 'post_edit' post.author.username post.id %}"
                                    role="button">
                                    Редактировать
                            </a>

                            <!-- Ссылка на удаление поста для автора -->
                            <a class="btn btn-sm text-muted" href="{% url 'post_confirm' post.author.username post.id %}"
                                    role="button">
                                    Удалить
                            </a>
                            {% endif %}
                    </div>

                    <!-- Дата публикации поста -->
                    <small class="text-muted">{{ post.pub_date }}</small>
            </div>
    </div>
</div>