<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <p class="m-0 text-dark text-center "><a href="/about-author/">Об авторе</a> 
        - <a href="/about-spec/">Технологии</a></p>
    <p class="m-0 text-dark text-center ">Социальная сеть <span style=
        "color:red">Ya</span>tube © {{ year }}, все права защищены.</p>
</footer>