{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}

{% block content %}
<main role="main" class="container">
<div class="row">
    <div class="col-md-9">
        <i><h2>Записи сообщества:</i>
        <u><h1>{{ group.title }}</h1></u></h2>
        <br>
        <p>{{ group.description }}</p>

        <!-- Вывод ленты записей -->
        {% for post in page %}
            <!-- Вот он, новый include! -->
            {% include "post_item.html" with post=post %}
        {% endfor %}

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
    </div>
</div>
</main>
{% endblock %}