{% extends "base.html" %} 
{% load cache %}

{% block title %} Последние обновления {% endblock %}

{% block content %}
    {% cache 20 index_page page.number follow%}
    
    <main role="main" class="container">
        {% include "menu.html" with index=False%}

        <div class="row">
            <div class="col-md-9">
        
                <h1> Последние обновления на сайте</h1>
        
                <!-- Вывод ленты записей -->
                {% for post in page %}
                    <!-- Вот он, новый include! -->
                    {% include "post_item.html" with post=post %}
                {% endfor %}
        
                <!-- Вывод паджинатора -->
                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}

        {% endcache %} 
    </div>
</div>
</main>
{% endblock %}